{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} To Do List {% endblock %}

{% block body %}

<div class="container">
<div><h1>Cadastro de tarefas</h1></div>
</head>
<body>
    <div> <form action="" method="POST">
      <input class="form-control" type="text" placeholder="Adicionar tarefa" name="task">
    </form></div>
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <ul class="list-group">
        <div class="list-group-item">
          <input class="form-check-input me-1" name="checkbox1" type="checkbox" value="" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">First checkbox</label>
          <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Editar</a>
          <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza que quer deletar?')">Deletar</a>
        </div>
        <div class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
          <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
          <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Editar</a>
          <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza que quer deletar?')">Deletar</a>
        </div>
        <div class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
          <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
          <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Editar</a>
          <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza que quer deletar?')">Deletar</a>
        </div>
      </ul>


      <div id="modaledit" class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title"> Editar Tarefa: </h2>
              </div>
              <div class="modal-body">
                <form action="" method="POST">
                  <div class="form-group">
                  <label>Tarefa:</label><br>
                  <input type="text" class="form-check-label" name="checkbox1" value="First Checkbox">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <button type="button" class="btn btn-primary">Salvar alterações</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</body>                
</html>


{% endblock %}